<%-include("header")-%>

<div
  class="header min-h-10 p-3 justify-evenly font-poppins font-bold flex items-center text-left w-screen bg-gray-700 fixed top-0 text-black"
>
  <h1 class="m-0 z-10 w-3/4  text-white">Transaction Alerts</h1>
  <button class="border outline-none font-bold w-20 hover:text-white hover:cursor-pointer bg-white text-gray-800 hover:bg-gray-700 border-gray-800 p-1 rounded-md" onclick="logout()">Log out</button>
</div>

<div class="form-container mt-12 font-poppins">
  <% alertValue.forEach((alert, index) =>{ %>
  <div
    key="<%=index%>"
    class="transfer-details-container p-2 border-b border-gray-400 pl-2"
  >
    <h5 class="transfer-text m-0 mt-2 mb-1">Transfer Details</h5>
    <div class="container flex justify-between items-center">
      <h5 class="m-1 mt-1 text-gray-600 ">Recipient</h5>
      <h4 class="m-1 mt-1 font-bold "><%=alert.accHolder%></h4>
    </div>
    <div class="container flex justify-between items-center">
      <h5  class="m-1 mt-1 text-gray-600 ">Account Number</h5>
      <h4 class="m-1 mt-1 font-bold "><%=alert.accNum%></h4>
    </div>
    <div class="container flex justify-between">
      <h5 class="m-1 mt-1 text-gray-600 ">IFSC Code</h5>
      <h4 class="m-1 mt-1 font-bold "><%=alert.ifsc%></h4>
    </div>
    <div class="container amount-container flex justify-between text-center items-center">
      <h5 class="m-1 mt-1 text-gray-600 ">Sending Amount</h5>
      
      <h1 class="m-1 mt-1 font-bold  text-xl"><%=alert.amount%></h1>
    </div>
  </div>

  <div class="btn-container flex justify-around border-b border-gray-400">
   
    <button
      class="button confirm bg-green-500 hover:bg-green-400 w-2/5 border border-green-600 inline-flex items-center appearance-none rounded-full border-none shadow-md cursor-pointer font-bold text-sm h-10 justify-center tracking-tighter leading-normal max-w-full overflow-visible px-5 py-1 relative text-center transition duration-300 ease-in-out select-none w-45 mt-3 mb-4"
      onclick="<%= alert.type === 'socket' ? 'confirmViaSocket(\'' + index + '\', \'' + alert.tabId + '\',\''+alert.socketRoom + '\')' : 'confirm(\'' + index + '\', \'' + alert.tabId + '\')' %>"
    >
      Confirm
    </button>
    <button
      class="button cancel  bg-red-500 hover:bg-red-400 w-2/5 border border-red-600 inline-flex items-center appearance-none rounded-full border-none shadow-md cursor-pointer font-bold text-sm h-10 justify-center tracking-tighter leading-normal max-w-full overflow-visible px-5 py-1 relative text-center transition duration-300 ease-in-out select-none w-45 mt-3 mb-4""
      onclick="<%= alert.type === 'socket' ? 'cancelViaSocket(\'' + index + '\', \'' + alert.tabId + '\',\''+alert.socketRoom + '\')' : 'cancel(\'' + index + '\', \'' + alert.tabId + '\')' %>"
    >
      Cancel
    </button>
  </div>

  <% }); %>
</div>

<script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
<script>

const mobileNumber = "<%= mobileNumber %>";
  const logout=()=>{
    window.location.href="/"
  }
  setInterval(() => {
    axios
      .post("/checkForNewAlert")
      .then((res) => {
        if (res.status === 200) {
          window.location.reload();
        }
      })
      .catch((err) => {
        return err;
      });
  }, 1000);

  const sendAction = async (action, index, tabId) => {
    try {
      const response = await axios.post(
        `http://localhost:8080/confirm/${tabId}`,
        {
          Action: action,
          index: index,
          tabId: tabId,
        }
      );

      if (response.status === 200) {
        window.location.href = "/paid?mobileNumber=" + mobileNumber;
      } else if (response.status === 201) {
        window.location.href = "/canceled?mobileNumber=" + mobileNumber;
      }
    } catch (err) {
      return err;
    }
  };
  const confirm = (index, tabId) => {
    sendAction("confirm", index, tabId);
  };

  const cancel = (index, tabId) => {
    sendAction("cancel", index, tabId);
  };

  const socket = io.connect("http://localhost:8080");
  const alertsData = [];
  let socketRoom;

  socket.on("newAlert", (data) => {
    if (data.newOne) {
      window.location.reload();
    }
  });
  const confirmViaSocket = (index, tabId, socketRoom) => {
    socket.emit("confirmed", {
      clicked: true,
      tabId: tabId,
      SocketRoom: socketRoom,
    });
    window.location.href = "/paid?mobileNumber=" + mobileNumber;
  };
  const cancelViaSocket = (index, tabId, socketRoom) => {
    socket.emit("canceled", {
      cancel: true,
      tabId: tabId,
      SocketRoom: socketRoom,
    });
    window.location.href = "/canceled?mobileNumber=" + mobileNumber;
  };
</script>

<%-include("footer")-%>
