<%-include("header")-%>

<div class="header">
  <h1 style="margin: 0">Transaction Alerts</h1>
</div>

<div
  class="form-container"
  style="height: <%= AlertValue.length>3?'auto':'100vh'%>;"
>
  <% AlertValue.forEach((alert, index) =>{ %>
  <!-- 
  <div
    key="<%=index%>"
    style="
      margin: 2rem;
      padding: 2rem;
      /* margin-top: 15vh; */
      display: flex;
      flex-direction: column;
      border: 1px solid thistle;
      border-bottom: 10px double rgb(33, 33, 212);
      border-radius: 15px;
      /* border-top-left-radius: 0px; */
      background-color: white;
    "
  >
    <h1 style="margin: 4px">₹ <%=alert.Amount%></h1>
    <strong style="margin: 4px">payment to <%=alert.AccHolder %></strong>

    <div style="display: flex">
      <button
        style="
          margin: 2rem 0;
          margin-bottom: 0.4rem;
          padding: 0.4rem 0.4rem;
          width: 50%;
          background-color: rgb(66, 209, 145);
          border-radius: 3px;
          /* border: 1px solid rgb(1, 0, 0); */
          border: 2px solid;
          outline: 0;
          box-sizing: border-box;
          color: white;
          font-size: 17px;
          font-weight: bold;
          outline: 1px solid black;
        "
        onclick="confirm( ' <%=index%>','<%=alert.tabId%>')"
      >
        confirm
      </button>

      <button
        style="
          margin: 2rem 1rem;
          margin-bottom: 0.4rem;
          padding: 0.4rem 0.4rem;
          width: 50%;
          /* background-color: rgb(234, 243, 244); */
          background-color: rgb(230, 71, 71);
          border-radius: 3px;
          border: 2px solid rgb(253, 253, 253);
          color: white;
          /* font: 17px bold; */
          font-size: 17px;
          font-weight: bold;
          /* border: 0; */
          outline: 1px solid black;
          box-sizing: border-box;
        "
        onclick="cancel( ' <%=index%>','<%=alert.tabId%>')"
      >
        cancel
      </button>
    </div>
  </div> -->

  <div key="<%=index%>" style="margin: 10px; border-bottom: 1px solid gray">
    <h5 style="margin-left: 2rem; margin: 0; margin-bottom: 0.4rem">
      Transfer Details
    </h5>
    <div style="display: flex; justify-content: space-between">
      <h5 style="margin: 0.4rem; margin-top: 10px; color: grey">Recipient</h5>
      <h4 style="margin: 0.4rem; margin-top: 10px"><%=alert.AccHolder%></h4>
    </div>
    <div style="display: flex; justify-content: space-between">
      <h5 style="margin: 0.4rem; color: grey">Account Number</h5>
      <h4 style="margin: 0.4rem"><%=alert.AccNum%></h4>
    </div>
    <div style="display: flex; justify-content: space-between">
      <h5 style="margin: 0.4rem; color: grey">IFSC Code</h5>
      <h4 style="margin: 0.4rem"><%=alert.Ifsc%></h4>
    </div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
      "
    >
      <h5
        style="text-align: center; margin: 0; margin-left: 0.4rem; color: grey"
      >
        Sending Amount
      </h5>
      <br />
      <h1 style="margin: 0"><%=alert.Amount%></h1>
    </div>
  </div>

  <div
    style="
      display: flex;
      justify-content: space-around;
      border-bottom: 2px solid grey;
    "
  >
    <button
      class="button-17"
      onclick="confirm( ' <%=index%>','<%=alert.tabId%>')"
    >
      Confirm
    </button>
    <button
      class="button-17"
      onclick="cancel( ' <%=index%>','<%=alert.tabId%>')"
    >
      Cancel
    </button>
  </div>

  <% }); %>
</div>

<script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>

<script>
  const sendAction = async (action, index, tabId) => {
    try {
      console.log("hello");
      console.log(tabId);
      const response = await axios.post(
        `https://polling-server.onrender.com/confirm/${tabId}`,
        // `http://localhost:8080/confirm/${tabId}`,
        {
          Action: action,
          index: index,
          tabId: tabId,
        }
      );

      if (response.status === 200) {
        window.location.href = "/paid";
      } else if (response.status === 201) {
        window.location.href = "/canceled";
      }
    } catch (err) {
      console.log(err);
    }
  };

  const confirm = (index, tabId) => {
    console.log(tabId);
    sendAction("confirm", index, tabId);
  };

  const cancel = (index, tabId) => {
    console.log("cancel");
    sendAction("cancel", index, tabId);
  };

  const socket = io.connect("https://polling-server.onrender.com");
  const alertsData = [];
  let socketRoom;

  // socket.on("paymentConfirmAlert", (data) => {
  //   console.log(data);
  //   socketRoom = data.socketRoom;
  //   alertsData.push(data.receivedValue);
  //   function createAlertElements() {
  //     const container = document.querySelector(".form-container");

  //     alertsData.forEach((alert, index) => {
  //       const alertDiv = document.createElement("div");
  //       alertDiv.setAttribute(
  //         "style",
  //         "margin: 10px; border-bottom: 1px solid gray;"
  //       );

  //       const transferDetails = document.createElement("h5");
  //       transferDetails.setAttribute(
  //         "style",
  //         "margin-left: 2rem; margin: 0; margin-bottom: 0.4rem;"
  //       );
  //       transferDetails.textContent = "Transfer Details";
  //       alertDiv.appendChild(transferDetails);

  //       // Creating recipient info
  //       const recipientDiv = document.createElement("div");
  //       recipientDiv.setAttribute(
  //         "style",
  //         "display: flex; justify-content: space-between;"
  //       );

  //       const recipientLabel = document.createElement("h5");
  //       recipientLabel.setAttribute(
  //         "style",
  //         "margin: 0.4rem; margin-top: 10px; color: grey;"
  //       );
  //       recipientLabel.textContent = "Recipient";

  //       const recipientValue = document.createElement("h4");
  //       recipientValue.setAttribute(
  //         "style",
  //         "margin: 0.4rem; margin-top: 10px;"
  //       );
  //       recipientValue.textContent = alert.AccHolder;

  //       recipientDiv.appendChild(recipientLabel);
  //       recipientDiv.appendChild(recipientValue);
  //       alertDiv.appendChild(recipientDiv);

  //       // Similar creation for Account Number, IFSC Code, and Sending Amount...

  //       // Creating buttons
  //       const buttonDiv = document.createElement("div");
  //       buttonDiv.setAttribute(
  //         "style",
  //         "display: flex; justify-content: space-around; border-bottom: 2px solid grey;"
  //       );

  //       const confirmButton = document.createElement("button");
  //       confirmButton.setAttribute("class", "button-17");
  //       confirmButton.textContent = "Confirm";
  //       confirmButton.onclick = function () {
  //         confirmSocket(index, alert.tabId);
  //       };

  //       const cancelButton = document.createElement("button");
  //       cancelButton.setAttribute("class", "button-17");
  //       cancelButton.textContent = "Cancel";
  //       cancelButton.onclick = function () {
  //         cancelSocket(index, alert.tabId);
  //       };

  //       buttonDiv.appendChild(confirmButton);
  //       buttonDiv.appendChild(cancelButton);
  //       alertDiv.appendChild(buttonDiv);

  //       container.appendChild(alertDiv);
  //     });
  //   }

  //   // Function to perform actions on button click
  //   function confirmSocket(index, tabId) {
  //     alertsData.splice(index, 1);
  //     // Your logic for confirmation
  //     socket.emit("clicked", {
  //       clicked: true,
  //       tabId: tabId,
  //       SocketRoom: socketRoom,
  //     });
  //     console.log("Confirmed:", index, tabId);
  //   }

  //   function cancelSocket(index, tabId) {
  //     alertsData.splice(index, 1);
  //     // Your logic for cancellation
  //     socket.emit("canceled", {
  //       clicked: true,
  //       tabId: tabId,
  //       SocketRoom: socketRoom,
  //     });
  //     console.log("Cancelled:", index, tabId);
  //   }

  //   // Call the function to create elements when needed
  //   createAlertElements();
  // });
</script>

<%-include("footer")-%>
