<%-include("header")-%>

<div class="header">
  <h1 style="margin: 0">Transaction Alerts</h1>
</div>

<div
  class="form-container"
  style="height: <%= AlertValue.length>3?'auto':'100vh'%>;"
>
  <% AlertValue.forEach((alert, index) =>{ %>

  <div key="<%=index%>" style="margin: 10px; border-bottom: 1px solid gray">
    <h5 style="margin-left: 2rem; margin: 0; margin-bottom: 0.4rem">
      Transfer Details
    </h5>
    <div style="display: flex; justify-content: space-between">
      <h5 style="margin: 0.4rem; margin-top: 10px; color: grey">Recipient</h5>
      <h4 style="margin: 0.4rem; margin-top: 10px"><%=alert.AccHolder%></h4>
    </div>
    <div style="display: flex; justify-content: space-between">
      <h5 style="margin: 0.4rem; color: grey">Account Number</h5>
      <h4 style="margin: 0.4rem"><%=alert.AccNum%></h4>
    </div>
    <div style="display: flex; justify-content: space-between">
      <h5 style="margin: 0.4rem; color: grey">IFSC Code</h5>
      <h4 style="margin: 0.4rem"><%=alert.Ifsc%></h4>
    </div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
      "
    >
      <h5
        style="text-align: center; margin: 0; margin-left: 0.4rem; color: grey"
      >
        Sending Amount
      </h5>
      <br />
      <h1 style="margin: 0"><%=alert.Amount%></h1>
    </div>
  </div>

  <div
    style="
      display: flex;
      justify-content: space-around;
      border-bottom: 2px solid grey;
    "
  >
    <button
      class="button-17"
      onclick="<%= alert.type === 'socket' ? 'confirmViaSocket(\'' + index + '\', \'' + alert.tabId + '\')' : 'confirm(\'' + index + '\', \'' + alert.tabId + '\')' %>"
    >
      Confirm
    </button>
    <button
      class="button-17"
      onclick="<%= alert.type === 'socket' ? 'cancelViaSocket(\'' + index + '\', \'' + alert.tabId + '\')' : 'cancel(\'' + index + '\', \'' + alert.tabId + '\')' %>"
    >
      Cancel
    </button>
  </div>

  <% }); %>
</div>

<script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>

<script>
  const sendAction = async (action, index, tabId) => {
    try {
      console.log("hello");
      console.log(tabId);
      const response = await axios.post(
        `https://polling-server.onrender.com/confirm/${tabId}`,
        // `http://localhost:8080/confirm/${tabId}`,
        {
          Action: action,
          index: index,
          tabId: tabId,
        }
      );

      if (response.status === 200) {
        window.location.href = "/paid";
      } else if (response.status === 201) {
        window.location.href = "/canceled";
      }
    } catch (err) {
      console.log(err);
    }
  };

  const confirm = (index, tabId) => {
    console.log(tabId);
    sendAction("confirm", index, tabId);
  };

  const cancel = (index, tabId) => {
    console.log("cancel");
    sendAction("cancel", index, tabId);
  };

  const socket = io.connect("https://polling-server.onrender.com");
  const alertsData = [];
  let socketRoom;

  const confirmViaSocket = (index, tabId) => {
    if (alertValue.length > 0) {
      socket.emit("clicked", {
        clicked: true,
        tabId: tabId,
        SocketRoom: socketRoom,
      });
      window.location.href("/paid");
    }
    handleReset(index);
  };

  const cancelViaSocket = (index, tabId) => {
    socket.emit("canceled", {
      cancel: true,
      tabId: tabId,
      SocketRoom: socketRoom,
    });
    handleReset(index);
    window.location.href("/canceled");
  };
</script>

<%-include("footer")-%>
